<h1>Listing Users</h1>
<% if @users.length > 0 %>
<table>
  <thead>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Email</th>
  <th>Gender</th>
  <th>Bio</th>
</thead>
<tbody>
<% @users.each do |user| %>
  <tr>
    <td> <%= user.first_name %> </td>
    <td> <%= user.last_name %> </td>
    <td> <%= user.email %> </td>
    <td> <%= user.display_gender %> </td>
    <td> <%= user.short_bio %> </td>
    <td> <%= link_to "Delete", delete_user_path(:id => user.id) %> </td>
  </tr>
<% end %>
</tbody>
</table>
<% end %>

<p><%= link_to "Add User", add_user_path %> </p>

